div.extra-info{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.extra-info p{
    text-align: center;
    margin: 7vh 3vw;
    width: 80%;
    max-width: 250px;
    font-size: 1.1rem;
}
div.separador-vertical{
    height: 3px;
    width: 100%;
    background-color: #857f7f;
}

@media screen and (min-width: 750px){
    div.extra-info{
        flex-direction: row;
        justify-content: space-between;
    }
    div.separador-vertical{
        height: 60vh;
        width: 3px;
    }
    div.extra-info p{
        width: 30vw;
        text-align: justify;
    }
}