/*------------------------------------------------Mobile Styles-----------------------------------------*/
section#first{
    flex-direction: column-reverse;
}
img#foto-inicio{
    width: 90%;
    height: auto;
    border-radius: 25px;
    margin: 5vh 0;
}
div.right-column{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.right-column img#logo{
    width: 100%;
    height: auto;
    max-width: 400px;
}
div.right-column > *{
    margin: 2vh 0;
}
div.right-column p{
    font-size: 1.1rem;
}
div.right-column h1{
    font-size: 2.5rem;
    width: 100%;
}


/*----------------------------------------------*/
img.ig-logo{
    width: 10%;
    height: auto;
    margin: 5vh 0;
    transition: all 0.5s ease-in;
}
img.ig-logo:hover{
        width: 13%;
        cursor: pointer;
    }
/*------------------------------------------------Tablet Styles-----------------------------------------*/
@media screen and (min-width: 750px){
    section#first{
        flex-direction: row;
        justify-content: space-around;
    }
    img#foto-inicio{
        width: 40%;
        height: 70vh;
        object-fit: cover;
        object-position: 55%;
    }
    div.right-column{
        width: 40%;
        height: 70vh;
        overflow: hidden;
        justify-content: space-between;
    }
    div.right-column img#logo{
        height: 60%;
        width: auto;
    }
    div.right-column > *{
        margin: 0;
    }
    img.ig-logo{
        position: fixed;
        left: -5px;
        top: 40%;
        width: 4vw;
        z-index: 100;
    }
    div#siguenos{
        display: none;
    }
}