section#first{
    flex-direction: column-reverse;
}
img#foto-inicio{
    width: 90%;
    height: auto;
    border-radius: 25px;
    margin: 5vh 0;
}
div.right-column{
    width: 90%;
}
div.right-column img#logo{
    width: 100%;
    height: auto;
}
div.right-column > *{
    margin: 2vh 0;
}
div.right-column p{
    font-size: 1.1rem;
}
div.right-column h1{
    font-size: 2.5rem;
}


/*----------------------------------------------*/
img.ig-logo{
    width: 25%;
    height: auto;
    margin: 5vh 0;
}