div.separador{

}
div.barra{
    background-color: #747272;
    border-radius: 10px;
}
p.texto-separador{
    color: #B0B0B0;
    font-family: 'Allura', cursive;
    white-space: nowrap;
    font-size: 25px;
}