*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, div#root{
    width: 100vw;
    min-height: 100vh;
    color: #1A1616;
}
body{
    background: 
        url('../images/Background.png') top center no-repeat, 
        url('../images/Backgroun2.png') bottom center no-repeat;
    background-size: 100vw 33%;
}