*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body, div#root{
    width: 100vw;
    min-height: 100vh;
    color: #1A1616;
    scrollbar-width: thin;
    max-width: 100%;
}
body{
    background-image: url('../images/Background.png');
}